#chollos h3, h4{
    text-align: center;
}

#chollos .contenedor{
    display: flex;
    justify-content: flex-end;
}

#chollos article {
    margin: 15px;
}

#chollos img {
    width: 100%;
    max-width: 280px;
}